django-heroku==0.3.1
django-mathfilters==0.4.0
future==0.16.0
gunicorn==19.9.0
heroku==0.1.4
idna==2.8
jedi==0.12.1
json-rpc==1.12.1
mccabe==0.6.1
parso==0.3.0
pluggy==0.6.0
psycopg2==2.7.7
pycodestyle==2.4.0
pydocstyle==2.1.1
pyflakes==2.0.0
python-dateutil==1.5
python-language-server==0+unknown
pytz==2018.9
requests==2.21.0
rope==0.10.7
six==1.11.0
snowballstemmer==1.2.1
urllib3==1.24.1
virtualenv==16.0.0
whitenoise==4.1.2
yapf==0.22.0
