
<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <strong class="mx-auto" style="width: 200px;"><h class="text-white">ASL unit 2 review</h></strong>
    <p class="mx-auto"><a href="/polls/">home</a> <a href="/polls/">unit1</a></p>
    <title>ASL unit 2 review</title>
</head>
<body style="background-color:black;">
<p class="text-white">The word to practice is: {{random_word }}</p>
<p><a href= {{url}} target=”_blank”> help! </a></p>

<button type="button" onclick="location.href='/unit2/{{prev}}/'">Last</button>
<button type="button" onclick="location.href='/unit2/{{ rando_num}}/'">Random</button>
<button type="button" onclick="location.href='/unit2/{{nxt}}/'">Next</button>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<p class="text-white">List of all vocab words in unit 1:</p>
    {% if latest_word_list %}
    <ul>
    {% for word in latest_word_list %}
        <li><a href="/unit2/{{ word.id }}/">{{ word.random_word }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No words are available.</p>
    {% endif %}
</body>
</html>